<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Added!</title>
</head>
<body data-th-object="${contact}">

    <div 
        th:text = "${successMessage}" 
        th:if = "${successMessage != null}" 
        class="success-message" 
        style="color :green"
    ></div><br><br>

    <a href="/">Back To Home</a><br>

    <a href="/list">Show Contact List</a>

    <h3>Your Contact Information: </h3>

    Id: <div data-th-text="*{id}"></div><br>
    Name: <div data-th-text="*{name}"></div><br>
    Email: <div data-th-text="*{email}"></div><br>

</body>
</html>